/* CSS declarations go here */
@import "imports/styles/aliases"
@import "imports/styles/colors"

h1
	display block
	font-size 3em
	font-weight normal
	c $darkGreen

label.link
	c #00a
	border-bottom 1px dashed

label.link:hover
	cursor pointer
	c #00f

.content-text
	font-size responsive
	c $lightGreen
	w 400px
	
